asn1crypto==1.0.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Deprecated==1.2.6
Django==2.2.5
Django-Admin-Object-Actions==0.1.6
django-crum==0.7.4
django-leaflet==0.24.0
django-pwa==1.0.5
fix-gdal==0.0.5.dev0
GDAL==3.0.1
gitdb2==2.0.6
GitPython==3.0.3
idna==2.8
ogr==0.8.0
ogrtools==0.7.3
psycopg2==2.8.3
pycparser==2.19
PyGithub==1.43.8
PyJWT==1.7.1
python-gitlab==1.12.1
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
smmap2==2.0.5
sqlparse==0.3.0
urllib3==1.25.6
wrapt==1.11.2
